:root {
    --font-size-h1: 3rem;
    --font-size-h2: 2.5rem;
    --font-size-h3: 1.9rem; 
    --main-color: #34464D;
    --background-color: #E4DCCB;
}

html {
    font-size: 14px; 
    margin: 0; 
}

h3 {
    font-size: var(--font-size-h3);
}

header {
    font-family: "Jura";
    font-weight: 400; 
    color: #E4DCCB;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #34464D;
    transition: .3s;
}

header:hover {
    scale: 1.02;
    text-shadow: 0px 0px 10px white;
}

.logo {
    width: 80px;
    height: auto;
}

.teambild {
    max-width: 300px;
    width: 100%;
    height: auto;
    margin-top: 50px;
    transition: .3s;
}

.teambild:hover {
    scale: 1.1;
}

.team_title {
    justify-content: center;
    text-align: center;
    align-items: center;
}

body {
    font-family: "Jura";
    color: var(--main-color);
    background-color: var(--background-color);
    height: 100vh;
    margin: 0px; 
}

main {
    margin-bottom: 30px;
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
}

.issLocation {
    margin-top: 100px;
    margin-bottom: 200px;
}

h2 {
    font-size: var(--font-size-h2); 
    margin-top: 50px;
    margin-bottom: 50px;
}

p {
    font-size: 1.5rem;
    margin-bottom: 50px;
}

.team {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
}

#map {
    height: 600px;
    margin-bottom: 50px; 
}

footer {
    background-color: var(--main-color);
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    transition: .3s;     
}

footer:hover {
    scale: 1.02;
    text-shadow: 0px 0px 10px white;
}

a {
    color: var(--background-color);
    text-decoration: none;
}

.dateform {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.timeform {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

input {
    height: 20px;
    font-family: "Jura";
    font-size: 18px;
    width: auto;
    margin: 5px 2.5px 5px 2.5px;
}

form {
    font-size: 18px;
}

@media (max-width: 1200px) {
    header {
        font-size: 25px;
    }
    main {
        margin-top: 40px;
        margin-left: 17%;
        margin-right: 17%;
    }
    p {
        font-size: 1.4rem;
    }
    footer {
        height: 125px;
    }
    footer h2 {
        font-size: 1.9rem;
        margin: 0;
    }
}

  
@media (max-width: 900px) {
    header {
        font-size: 20px;
    }
    main {
         font-size: 12px;
            margin-top: 30px;
            margin-left: 14%;
            margin-right: 14%;
        }
    .team {
        flex-direction: column; 
        align-items: center;
    }
    p {
        font-size: 1.3rem;
    }
    footer {
        height: 100px;
    }
    footer h2 {
        font-size: 1.7rem;
        margin: 0;
    }
}
  
@media (max-width: 600px) {
    header {
        font-size: 15px; 
    }
    main {
        font-size: 11px;
        margin-top: 20px;
        margin-left: 11%;
        margin-right: 11%;
    }
    .team {
        flex-direction: column; 
        align-items: center;
    }
    p {
        font-size: 1.2rem;
    }
    footer {
        height: 80px;
    }
    footer h2 {
        font-size: 1.5rem;
        margin: 0;
    }
}