:root {
    --font-size-h1: 3rem;
    --font-size-h2: 2.5rem;
    --font-size-h3: 1.9rem; 
    --main-color: #34464D;
    --background-color: #E4DCCB;
}

html {
    font-size: 14px; 
    margin: 0; 
}

h3 {
    font-size: var(--font-size-h3);
}

header {
    font-family: "Jura";
    font-weight: 400; 
    color: #E4DCCB;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #34464D;
    transition: .3s;
}

header:hover {
    scale: 1.02;
    text-shadow: 0px 0px 10px white;
}

@media (max-width: 1200px) {
    header {
        font-size: 25px;
    }
    main {
        margin-top: 40px;
    }
}
  
@media (max-width: 900px) {
    header {
        font-size: 20px;
    }
    main {
            margin-top: 30px;
        }
}
  
@media (max-width: 600px) {
    header {
        font-size: 15px; 
    }
    main {
        margin-top: px;
    }
}

.logo {
    width: 80px;
    height: auto;
}

.teambild {
    width: 300px;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}


body {
    font-family: "Jura";
    color: var(--main-color);
    background-color: var(--background-color);
    height: 100vh;
    margin: 0px; 
}

main {
    margin-bottom: 30px;
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
}

.issLocation {
    margin-top: 100px;
    margin-bottom: 200px;
}

h2 {
    font-size: 2.5rem;
    margin-top: 50px;
    margin-bottom: 50px;
}

p {
    font-size: 1.5rem;
    margin-top: 50px;
    margin-bottom: 100px;
}

.team {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#map {
    height: 600px;
    margin-bottom: 50px; 
}

footer {
    height: 150px;
    background-color: var(--main-color);
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    transition: .3s;
}

footer:hover {
    scale: 1.02;
    text-shadow: 0px 0px 10px white;
}

a {
    color: var(--background-color);
    text-decoration: none;
}

/*a:visited {
    color: var(--background-color);
}*/



