:root {
    --font-size-h1: 2.5rem;
    --font-size-h2: 2rem;
    --font-size-h3: 1.9rem;
    --font-size-h3: 1rem;
    --main-color: #54616F;
    --background-color: #E4DCCB;
}

html {
    font-size: 14px;
    margin: 0;
}

header {
    font-family: "Jura";
    font-weight: 400; 
    color: #E4DCCB;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
    background: #34464D;
}

body {
    font-family: "Avenir Next", sans-serif;
    color: var(--main-color);
    background-color: var(--background-color);
    height: 100vh;
    margin: 0;
}