:root {
    --font-size-h1: 3rem;
    --font-size-h2: 2.5rem;
    --font-size-h3: 1.9rem;
    --main-color: #34464D;
    --background-color: #E4DCCB;
}

html {
    font-size: 14px;
    margin: 0;
}

header {
    font-family: "Jura";
    font-weight: 400; 
    color: #E4DCCB;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
    background: #34464D;
}

body {
    font-family: "Jura";
    color: var(--main-color);
    background-color: var(--background-color);
    height: 100vh;
    margin: 0px;
}

main {
    display: flex;
    margin-bottom: 30px;
    margin-left: 300px;
    margin-top: 50px;
    margin-right: 300px;
}

.hovertext {
    font-size: 3rem;
    color: #34464D;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.issLocation {
    margin-top: 100px;
    margin-bottom: 200px;
}

h2 {
    font-size: 2.5rem;
    margin-top: 50px;
    margin-bottom: 50px;
}
p {
    font-size: 1.5rem;
    margin-top: 50px;
    margin-bottom: 100px;
}

#map {
    height: 600px;
    margin-bottom: 50px; 
}


footer {
    height: 150px;
    background-color: var(--main-color);
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}

a {
    color: var(--background-color);
    text-decoration: none;
}

a:visited {
    color: var(--background-color);
}


