:root {
    --font-size-h1: 3rem;
    --font-size-h2: 2.5rem;
    --font-size-h3: 1.9rem;
    --main-color: #34464D;
    --background-color: #E4DCCB;
}

html {
    font-size: 14px;
    margin: 0;
}

header {
    font-family: "Jura";
    color: #E4DCCB;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
    background: #34464D;
}

body {
    font-family: "Jura";
    color: var(--main-color);
    background-color: var(--background-color);
    height: 100vh;
    margin: 0;
}

h2 {
    font-size: 2.5rem;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}   

main {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin: 20px 0;
}

img {
    width: 300px;
    height: auto;
}

.person {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
}

p {
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 50px;
}

h3 {font-size: 1.5rem;
    margin-top: 20px;
    font-style: bold;
    margin-bottom: 0px;
}